<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label "Comment by: " %>
    <%= form.text_field :commenter, value: current_user.email, :readonly => true%>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
