<h1><%= @article.title %></h1>

<h4>Written By: <%= @article.written_by%></h4>

<p><%= @article.body %></p>

<p><%=@article.status%></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  </br></br>
  <%= @article.likes.count %>
  <% if user_already_liked?(@article) %>
    <%= button_to "Unlike", article_like_path(@article), method: :delete%>
  <% else %>
    <%= button_to "Like", article_likes_path(@article), method: :post%>
  <% end %>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
